//width & height
$mainMaxWidth-1440: 1440px;
$mainMaxWidth-1200: 1200px;
$mainMaxWidth-1140: 1140px;
$mainMaxWidth-992: 992px;
$mainMaxWidth-768: 768px;
$mainMaxWidth-720: 720px;
$mainMaxWidth-576: 576px;

// text-color
$maintextcolor: #2D3748;
$secondtextcolor: #6B46C1;
$pstextcolor: #718096;

// font-family
$font-calc: 'Cal Sans Semi Bold';
$font-inter: 'Inter Regular';