@import '/src/styles/components/mixin';
@import '/src/styles/components/variables';
@import './normalize';

.video {
    max-width: $mainMaxWidth-768;
    margin: auto;
    @media all and (max-width: $mainMaxWidth-768){
        max-width: 575px;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    @media all and (max-width: $mainMaxWidth-576){
        max-width: 435px;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .name {
        p {
            font-family: 'Cal Sans Semi Bold';
            font-size: 20px;
            letter-spacing: 1px;
        }
    }
    .blocks {
        gap: 48px;
        margin-top: 32px;
        columns: 2;
        @media all and (max-width: $mainMaxWidth-768){
            max-width: 575px;
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        @media all and (max-width: $mainMaxWidth-576){
            max-width: 435px;
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .block1 {
            max-width: 360px;
            margin-bottom: 32px;
            .video {
                
            }
            .text {
                a {
                    font-family: $font-calc;
                    color: $maintextcolor;
                    p {
                        margin-top: 16px;
                        margin-bottom: 8px;
                    }
                    .comment {
                        font-size: 14px;
                        color: $pstextcolor;
                    }
                }
            }
        }   
    }
}
